In [70]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
import scipy.stats as linregress

In [71]:
csv_path = "Resources/vehicle_count.csv"
vehicle_df_2020 = pd.read_csv(csv_path)
vehicle_df_2020.head(1000)

/Users/girgs/opt/anaconda3/envs/google/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

         Date Zip Code Model Year      Fuel   Make   Duty  Vehicles
0    1/1/2020    90001       2007  Gasoline  ACURA  Light        15
1    1/1/2020    90002       2007  Gasoline  ACURA  Light        20
2    1/1/2020    90003       2007  Gasoline  ACURA  Light        29
3    1/1/2020    90004       2007  Gasoline  ACURA  Light        19
4    1/1/2020    90006       2007  Gasoline  ACURA  Light        15
..        ...      ...        ...       ...    ...    ...       ...
995  1/1/2020    95125       2007  Gasoline   AUDI  Light        27
996  1/1/2020    95126       2007  Gasoline   AUDI  Light        13
997  1/1/2020    95127       2007  Gasoline   AUDI  Light        23
998  1/1/2020    95128       2007  Gasoline   AUDI  Light        13
999  1/1/2020    95129       2007  Gasoline   AUDI  Light        16

[1000 rows x 7 columns]

In [72]:
vehicle_df_2020.groupby(["Model Year" , "Fuel"])[["Vehicles"]].sum().tail(50)

                                     Vehicles
Model Year Fuel
2017       Gasoline                    677881
           Hybrid Gasoline              69719
           Hydrogen Fuel Cell            3058
           Natural Gas                    283
           Other                          100
           Plug-in Hybrid               31621
2018       Battery Electric             98583
           Diesel and Diesel Hybrid     73418
           Flex-Fuel                    59436
           Gasoline                   1743808
           Hybrid Gasoline              71193
           Hydrogen Fuel Cell            1494
           Natural Gas                    345
           Other                          489
           Plug-in Hybrid               58120
2019       Battery Electric             74400
           Diesel and Diesel Hybrid     63231
           Flex-Fuel                    51183
           Gasoline                   1566469
           Hybrid Gasoline              86945
           Hydrogen Fuel Cell            1591
           Natural Gas                    389
           Other                          388
           Plug-in Hybrid               38737
2020       Battery Electric              2964
           Diesel and Diesel Hybrid     18616
           Flex-Fuel                     4134
           Gasoline                    237959
           Hybrid Gasoline               9781
           Hydrogen Fuel Cell              33
           Natural Gas                     53
           Other                          125
           Plug-in Hybrid                4532
2021       Diesel and Diesel Hybrid        24
           Gasoline                         7
           Natural Gas                      2
           Other                           12
<2007      Battery Electric               506
           Diesel and Diesel Hybrid    467336
           Flex-Fuel                   223382
           Gasoline                  10132968
           Hybrid Gasoline              96233
           Hydrogen Fuel Cell              10
           Natural Gas                   8000
           Other                         3143
Unk        Battery Electric                 2
           Diesel and Diesel Hybrid       191
           Gasoline                      2766
           Natural Gas                      4
           Other                            3

In [73]:
vehicle_df_2020["Registration Year"] = '2020'
vehicle_df_2020

,Date,Zip Code,Model Year,Fuel,Make,Duty,Vehicles,Registration Year
0,1/1/2020,90001,2007,Gasoline,ACURA,Light,15,2020
1,1/1/2020,90002,2007,Gasoline,ACURA,Light,20,2020
2,1/1/2020,90003,2007,Gasoline,ACURA,Light,29,2020
3,1/1/2020,90004,2007,Gasoline,ACURA,Light,19,2020
4,1/1/2020,90006,2007,Gasoline,ACURA,Light,15,2020
...,...,...,...,...,...,...,...,...
602389,1/1/2020,OOS,Unk,Gasoline,Unk,Heavy,98,2020
602390,1/1/2020,90012,Unk,Gasoline,Unk,Light,12,2020
602391,1/1/2020,93065,Unk,Gasoline,Unk,Light,11,2020
602392,1/1/2020,95762,Unk,Gasoline,Unk,Light,12,2020
602393,1/1/2020,OOS,Unk,Gasoline,Unk,Light,52,2020

In [74]:
csv_path = "Resources/vehicle_data_2018.csv"
vehicle_df_2018 = pd.read_csv(csv_path)
vehicle_df_2018.head(1000)

/Users/girgs/opt/anaconda3/envs/google/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Date,Zip Code,Model Year,Fuel,Make,Duty,Vehicles
0,10/1/2018,90000,2006,Gasoline,OTHER/UNK,Light,1
1,10/1/2018,90000,2014,Gasoline,OTHER/UNK,Light,1
2,10/1/2018,90000,2016,Gasoline,OTHER/UNK,Light,1
3,10/1/2018,90000,2017,Gasoline,OTHER/UNK,Light,1
4,10/1/2018,90000,<2006,Diesel and Diesel Hybrid,OTHER/UNK,Heavy,55
...,...,...,...,...,...,...,...
995,10/1/2018,90003,2010,Gasoline,FORD,Light,48
996,10/1/2018,90003,2010,Gasoline,HONDA,Light,124
997,10/1/2018,90003,2010,Gasoline,HYUNDAI,Light,21
998,10/1/2018,90003,2010,Gasoline,INFINITI,Light,14
999,10/1/2018,90003,2010,Gasoline,KIA,Light,21

In [75]:
vehicle_df_2018["Registration Year"] = '2018'
vehicle_df_2018

,Date,Zip Code,Model Year,Fuel,Make,Duty,Vehicles,Registration Year
0,10/1/2018,90000,2006,Gasoline,OTHER/UNK,Light,1,2018
1,10/1/2018,90000,2014,Gasoline,OTHER/UNK,Light,1,2018
2,10/1/2018,90000,2016,Gasoline,OTHER/UNK,Light,1,2018
3,10/1/2018,90000,2017,Gasoline,OTHER/UNK,Light,1,2018
4,10/1/2018,90000,<2006,Diesel and Diesel Hybrid,OTHER/UNK,Heavy,55,2018
...,...,...,...,...,...,...,...,...
586228,10/1/2018,Other,<2006,Hybrid Gasoline,TOYOTA,Light,54,2018
586229,10/1/2018,Other,<2006,Natural Gas,OTHER/UNK,Heavy,4,2018
586230,10/1/2018,Other,<2006,Natural Gas,OTHER/UNK,Light,6,2018
586231,10/1/2018,Other,<2006,Other,OTHER/UNK,Heavy,1,2018
586232,10/1/2018,Other,<2006,Other,OTHER/UNK,Light,8,2018

In [78]:
vehicle_df_df = pd.concat([vehicle_df_2020, vehicle_df_2018])
vehicle_df_df

,Date,Zip Code,Model Year,Fuel,Make,Duty,Vehicles,Registration Year
0,1/1/2020,90001,2007,Gasoline,ACURA,Light,15,2020
1,1/1/2020,90002,2007,Gasoline,ACURA,Light,20,2020
2,1/1/2020,90003,2007,Gasoline,ACURA,Light,29,2020
3,1/1/2020,90004,2007,Gasoline,ACURA,Light,19,2020
4,1/1/2020,90006,2007,Gasoline,ACURA,Light,15,2020
...,...,...,...,...,...,...,...,...
586228,10/1/2018,Other,<2006,Hybrid Gasoline,TOYOTA,Light,54,2018
586229,10/1/2018,Other,<2006,Natural Gas,OTHER/UNK,Heavy,4,2018
586230,10/1/2018,Other,<2006,Natural Gas,OTHER/UNK,Light,6,2018
586231,10/1/2018,Other,<2006,Other,OTHER/UNK,Heavy,1,2018
586232,10/1/2018,Other,<2006,Other,OTHER/UNK,Light,8,2018

In [81]:
vehicle_df_df.to_csv("Resources/raw_data/raw_vehicle_data.csv", index=False)

In [77]:
vehicle_df_df.groupby(["Model Year" , "Fuel","Registration Year"])[["Vehicles"]].sum().head(100)

                                                       Vehicles
Model Year Fuel                     Registration Year
2007       Battery Electric         2020                      1
           Diesel and Diesel Hybrid 2020                  48821
           Flex-Fuel                2020                  61587
           Gasoline                 2020                1186177
           Hybrid Gasoline          2020                  68151
...                                                         ...
2006       Other                    2018                    106
2007       Battery Electric         2018                    652
           Diesel and Diesel Hybrid 2018                  54312
           Flex-Fuel                2018                  68636
           Gasoline                 2018                1265759

[100 rows x 1 columns]